# Follow: https://github.com/jtpio/lit/blob/main/requirements.txt

ipywidgets>=8.1
jupyterlab~=4.0.8
jupyterlab-filesystem-access~=0.6.0
jupyterlab-open-url-parameter~=0.1.0
jupyterlite-core==0.2.0
jupyterlite-pyodide-kernel==0.2.0
notebook~=7.0.6

# Core modules (mandatory)
#jupyterlite-core
#jupyterlab
#notebook

# Python kernels (optional)
#jupyterlite-pyodide-kernel
#jupyterlite-xeus-python

# Language support (optional)
#jupyterlab-language-pack-fr-FR
#jupyterlab-language-pack-zh-CN

# User experience
#jupyterlab-skip-traceback
#jupyter-archive
#jupyterlab-spellchecker
#jupyterlab_ou_brand_extension
#jupyterlab_myst
#jupyterlab-empinken-extension
#jupyterlab_cell_status_extension

# JupyterLab: Fasta file renderer (optional)
#jupyterlab-fasta>=3,<4
# JupyterLab: Geojson file renderer (optional)
#jupyterlab-geojson>=3,<4
# JupyterLab: guided tour (optional)
#jupyterlab-tour
# JupyterLab: dark theme
#jupyterlab-night
# JupyterLab: Miami nights theme (optional)
#jupyterlab_miami_nights

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.1.1,<9
# Python: ipyevents library for Jupyter notebooks (optional)
ipyevents>=2.0.1
# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl>=0.8.2

# Excel file reader
#xlrd

# Python: plotting libraries (optional)
#bqplot
#plotly>=5,<6

# File sharing
#jupyterlab-filesystem-access

# Sphinx extensions
ou_book_theme
